Interfax.FileCollector/Interfax.FileCollector/Interfax.FileCollector.UnitTest/Service References/FileCollectorServiceReference/FileCollectorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Interfax.FileCollector.Web.Service.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Interfax.FileCollector.Web.Service.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2010/FileCollectorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:2010/FileCollectorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfFileStorage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileStorage" nillable="true" type="tns:FileStorage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileStorage" nillable="true" type="tns:ArrayOfFileStorage" />
  <xs:complexType name="FileStorage">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CreateDate" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LoadDate" type="q2:DateTimeOffset" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileStorage" nillable="true" type="tns:FileStorage" />
</xs:schema>